body {
    background-color: #F6F6F6;
    overflow: hidden;
}

.container {
    max-width:900px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.nav {
    margin:auto;
    text-align:center; 
}

.about {
    margin:auto
}

.news {
    margin:auto
}

.research {
    margin:auto
}

.publication {
    margin:auto
}

.centered {
    display: block;
    margin: auto;
}

.text-justify {
    text-align: justify;
}

.name {
    margin: auto;
    text-align:center; 
}