.container {
    max-width:900px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.nav {
    margin:auto;
}

.about {
    margin:auto
}

.news {
    margin:auto
}

.research {
    margin:auto
}

.publication {
    margin:auto
}
